* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(./assets/image/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(208, 187, 159); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  width: 700px;
  background-color: rgb(249, 246, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px 40px 40px;
  border-bottom: 2px solid rgb(120, 114, 114);
}

.navigation ul {
  height: 30px;
  width: 700px;
  background: rgb(249, 246, 241);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid rgb(120, 114, 114);
}

.navigation ul li {
  display: flex;
  align-items: center;
}

.navigation ul li a {
  color: rgb(62, 47, 47);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation ul li a:hover{
  color: rgb(183, 107, 37);
}

.personal {
  margin-top: 40px;
  display: flex;
}

.avatar img {
  width: 150px;
  height: 140px;
  margin-right: 40px;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

h1 {
  text-transform: capitalize;
  color: rgb(62, 47, 47);
}

.line {
  margin-top: 20px;
  height: 2px;
  width: 350px;
  background-color: rgb(120, 114, 114);
}

h3 {
  margin-top: 20px;
  text-transform: uppercase;
  color: rgb(92, 77, 77);
}

main {
  width: 700px;
  background-color: rgb(255, 251, 247);
}

.about-me {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(120, 114, 114);
}

h2 {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: rgb(62, 47, 47);
}

.about-box {
  display: flex;
  padding: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(120, 114, 114);
}

.contact-list li {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

.contact-list li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.contact-list li p {
  color: rgb(38, 33, 33);
  font-weight: bold;
}

.about-text {
  padding: 5px 10px 10px 10px;
}

p {
  line-height: 1.5;
  color: rgb(38, 33, 33);
}

.education-box {
  padding: 10px 20px;
  border-bottom: 2px solid rgb(120, 114, 114);
}

h4 {
  margin-top: 5px;
  text-transform: capitalize;
}

.education-box p {
  margin-top: 10px;
}

.education-box ul {
  padding: 10px;
}

.languages li {
  list-style-type: square;
  text-transform: capitalize;
  color: rgb(38, 33, 33);
  font-weight: bold;
}

.courses li {
  list-style-type: circle;
  text-transform: capitalize;
  color: rgb(38, 33, 33);
  font-weight: bold;
}

.skills-box {
  padding: 10px;
  border-bottom: 2px solid rgb(120, 114, 114);
}

.skills-list li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.skills-list li p {
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(57, 42, 42);
  margin-left: 10px;
  font-weight: bold;
}

.code-box {
  padding: 10px;
  border-bottom: 2px solid rgb(120, 114, 114);
}

.code-box code{
  font-size: 18px;
}

.projects-box {
  padding: 10px;
  border-bottom: 2px solid rgb(120, 114, 114);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.projects-list img {
  width: 300px;
  height: 200px;
  background-size: contain;
  margin: 10px;
  border: 3px solid rgb(120, 114, 114);
  cursor: pointer;
}

.projects-list img:hover{
  border: 5px solid rgb(183, 107, 37);
}

footer {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid rgb(120, 114, 114);
  background-color: rgb(249, 235, 210);
}

.rs-logo {
  width: 150px;
  height: 50px;
}

footer img{
  cursor: pointer;
}

footer img:hover{
background-color: rgb(248, 219, 169);
border-radius: 10px;
}

footer p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(38, 33, 33);
}
